html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --footer-height: 4rem;
}

body,
#__next {
  position: relative;
  min-height: calc(100vh - var(--footer-height));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill:focus,
.ui.form .field.no-auto-fill-color.field input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 0 transparent inset !important;
}

input:-webkit-autofill:focus,
.ui.form .field.no-auto-fill-color.field input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 0 transparent inset !important;
}

.ui.selection.dropdown {
  color: rgba(0, 0, 0, 0.87) !important;
}

.ui.search.dropdown.active > input.search,
.ui.search.dropdown.visible > input.search {
  color: rgba(0, 0, 0, 0.87) !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: rgba(0, 0, 0, 0.87) !important;
}

.nav {
  background-image: linear-gradient(#021243, #077eca);
  border-bottom: 4px solid #021243;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.nav_container {
  display: grid;
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  align-items: center;
}

.nav_main {
  text-transform: capitalize;
  /* font-family: "Times New Roman", Times, serif; */
  color: #62b3d7;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.nav_main .heading,
.nav_main .subheading {
  /* font-family: "Times New Roman", Times, serif !important; */
  text-transform: uppercase !important;
  color: #62b3d7 !important;
  font-size: x-large !important;
}

.nav_main .subheading {
  font-size: medium !important;
}

.is-hoverable:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer {
  height: var(--footer-height);
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

footer .main {
  display: grid;
  place-content: center;
  height: 100%;
}

a.link {
  color: rgb(7, 126, 202);
}

a.link:hover {
  cursor: pointer;
  color: #021243;
}
.bg-blue {
  background-color: #dff0ff;
}

.ui.selectable.table tbody tr.bg-blue:hover {
  background: rgba(7, 6, 202, 0.05) !important;
  color: rgba(0, 0, 0, 0.95) !important;
}
