html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

input:-webkit-autofill:focus,
.ui.form .field.no-auto-fill-color.field input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 0 transparent inset !important;
}
input:-webkit-autofill:focus,
.ui.form .field.no-auto-fill-color.field input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 0 transparent inset !important;
}

.ui.selection.dropdown {
  color: rgba(0, 0, 0, 0.87) !important;
}

.ui.search.dropdown.active > input.search,
.ui.search.dropdown.visible > input.search {
  color: rgba(0, 0, 0, 0.87) !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: rgba(0, 0, 0, 0.87) !important;
}

.nav {
  background-image: linear-gradient(#021243, #077eca);
  border-bottom: 4px solid #021243;
  margin-bottom: 1rem;
}

.nav_container {
  display: grid;
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  align-items: center;
}

.nav_main {
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
  color: #62b3d7;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.nav_main .heading,
.nav_main .subheading {
  font-family: "Times New Roman", Times, serif !important;
  text-transform: uppercase !important;
  color: #62b3d7 !important;
  font-size: x-large !important;
}
.nav_main .subheading {
  font-size: medium !important;
}

.is-hoverable:hover {
  cursor: pointer;
}
